# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Gradle build output
**/.gradle/
**/build/

# Android local config
**/local.properties

# Native build
**/.externalNativeBuild/
**/.cxx/

# Outputs
*.apk
*.aab
captures/
